
@media (max-width: 1050px) {

.bkg { width: 100%; }
.bkg-banner {
  width: 100vw;
  height: auto;
    background-size: cover;
  margin: 0;
  padding: 10vw 1vw 10vw;
    text-align: center;
}
.bkg-banner .col-md-6 {
  margin-top: 45px;
}
.logo_BetMGM {
	width: auto;
    height: 55px;
}
.logo_SMS {
	width: 15%;
    height: auto;
}.diveder{
	height: 12vw;
}
.copy {
    width: 90%;
    height: auto;
}

.MenuCTAButtonText { 
	font-size: 21px;
    width: 40vw;
    height: 60px;
}

.HeadlineText {
  width: 80%;
  height: auto;
}
.HeadlineText-sub {
  width: 80%;
  height: auto;
}
.Rectangle {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10vw 2vw;
}
.Rectangle .MenuCTAButtonText {
	width: 60%;
	height: 60px;
    font-size: 22px;
    padding: 5%;
    margin: 5vw 0;
}
.USE-AFFILIATE-CODE {
  width: 80%;
  height: auto;
  margin: 20px 1px 0 0;
}
.CTAcode {
  width: 100%;
  padding: 0 18px 0 42px;
  border-radius: 30px;
}
.text-cta{
  width: 60vw;
  margin: 13px 0;
}
.CTAButton {
  width: 100%;
  height: 60px;
  margin: 9px 1px 0 0;
}
.MenuCTAButtonText {
  text-shadow: 0 10px 40px rgba(255, 181, 0, 0.2);
  margin: auto;
  padding: 20px;
}
.Click-to-copy-code {
  margin: 0;
  margin-left: 42%;
  position: relative;
  top: -7.5px;
}.arrow {
  width: 20px;
  height: 30px;
  /*margin: 0 0 5px 115px;*/
  transform: rotate(-4deg);
  position: relative;
  top: -17.5px;
  /*border: solid 1px #f9b500;*/
}
.Rectangle .Get-100-Match-Depos {
  width: 80vw;
  height: 60px;
  margin: 0 0 20px;
}

.Step-1-Click-on-re {
  width: 100%;
  height: auto;
  margin: 16px 15px 48px 1px;
}
.Deposit-Methods {
  width: 100%;
  height: 22px;
  margin: 48px 409px 0 1px;
}

.bkg-Rectangle {
  width: 100%;
  height: auto;
  padding: 10vw 1vw;
}
.HeadlineText-Copy {
  width: 90%;
  height: auto;
  margin: 0 24px 0 0;
}
.vip {
  width: 72px;
  height: 25px;
  margin: 30px 24px 29px 0;
}.PAYPAL {
  width: 70px;
  height: 20px;
  margin: 32px 0 32px 0;
}.VISA {
  width: 49px;
  height: 15px;
  margin: 35px 10px 19px 10px;
}.PLAY {
  width: 40px;
  height: 20px;
  margin: 32px 10px 17px 10px;
}.PAYNEARME {
  width: 84px;
  height: 24px;
  margin: 19px 0 1px 0;
}
.MASTERCARD {
  width: 36px;
  height: 28px;
  margin: 23px 10px 9px 10px;
}.DISVOVER {
  width: 49px;
  height: 40px;
  margin: 17px 10px 3px 10px;
}

.white-Rectangle { width: 100%; text-align: center; }
.PRT_MS_261-SMS-USA-Banner-Request {
	width: 90vw;
    height: auto;
    margin: 15vw auto;
}

footer{
  width: 100vw!important;
  height: auto;
}
footer .logo_SMSUSA {
  width: 35vw;
    height: auto;
    float: none;
    margin: 0 auto;
}
.Sportsbook-Marketing-Copy {
  width: 50vw;
   float: none;
   margin:0;
}.Dave_icon {
  width: 60px;
  float: none;
  margin:0;
}
.Deposit-Match-U {
  width: 100%;
  height: auto;
  margin: 0 0;
}
.Deposit-Match-U p { 
}

footer { 
  margin: 0;
  padding: 0 0;
  text-align: left;
}

main, html, body {
    width: 100vw;
    overflow-x: hidden;
}
br {
    display: none!important;
}

}
@media (max-width: 750px) {

.bkg { width: 100%; }
.bkg-banner {
  width: 100vw;
  height: auto;
    background-size: cover;
  margin: 0;
  padding: 10vw 1vw 10vw;
    text-align: center;
}
.bkg-banner .col-md-6 {
  margin-top: 45px;
}
.logo_BetMGM {
	width: auto;
    height: 55px;
}
.logo_SMS {
	width: 15%;
    height: auto;
}.diveder{
	height: 12vw;
}
.copy {
    width: 90%;
    height: auto;
}

.MenuCTAButtonText { font-size: 16px; width: 50vw; }

.HeadlineText {
  width: 80vw;
  height: auto;
}
.HeadlineText-sub {
  width: 80vw;
  height: auto;
}
.Rectangle {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10vw 2vw;
}
.Rectangle .MenuCTAButtonText {
	width: 60vw;
	height: 15vw;
    font-size: 22px;
    padding: 5%;
    margin: 10vw 0;
}
.USE-AFFILIATE-CODE {
  width: 80vw;
  height: auto;
  margin: 20px 1px 0 0;
}
.CTAcode {
  width: 100%;
  padding: 0 18px 0 42px;
  border-radius: 30px;
}
.text-cta{
  width: 60vw;
  margin: 13px 0;
}
.CTAButton {
  width: 100%;
  height: 60px;
  margin: 9px 1px 0 0;
}
.MenuCTAButtonText {
  text-shadow: 0 10px 40px rgba(255, 181, 0, 0.2);
  margin: auto;
  padding: 20px;
}
.Click-to-copy-code {
  margin: 0;
  margin-left: 42%;
  position: relative;
  top: -7.5px;
}.arrow {
  width: 20px;
  height: 30px;
  /*margin: 0 0 5px 115px;*/
  transform: rotate(-4deg);
  position: relative;
  top: -17.5px;
  /*border: solid 1px #f9b500;*/
}
.Rectangle .Get-100-Match-Depos {
  width: 80vw;
  height: 60px;
  margin: 0 0 20px;
}

.Step-1-Click-on-re {
  width: 100%;
  height: auto;
  margin: 16px 15px 48px 1px;
}
.Deposit-Methods {
  width: 100%;
  height: 22px;
  margin: 48px 409px 0 1px;
}

.bkg-Rectangle {
  width: 100vw;
  height: auto;
  padding: 10vw 1vw;
}
.HeadlineText-Copy {
  width: 90vw;
  height: auto;
  margin: 0 24px 0 0;
}
.vip {
  width: 72px;
  height: 25px;
  margin: 30px 24px 29px 0;
}.PAYPAL {
  width: 70px;
  height: 20px;
  margin: 32px 0 32px 0;
}.VISA {
  width: 49px;
  height: 15px;
  margin: 35px 10px 19px 10px;
}.PLAY {
  width: 40px;
  height: 20px;
  margin: 32px 10px 17px 10px;
}.PAYNEARME {
  width: 84px;
  height: 24px;
  margin: 19px 0 1px 0;
}
.MASTERCARD {
  width: 36px;
  height: 28px;
  margin: 23px 10px 9px 10px;
}.DISVOVER {
  width: 49px;
  height: 40px;
  margin: 17px 10px 3px 10px;
}

.white-Rectangle { width: 100%; text-align: center; }
.PRT_MS_261-SMS-USA-Banner-Request {
	width: 90vw;
    height: auto;
    margin: 15vw auto;
}

footer{
  width: 100vw!important;
  height: auto;
}
footer .logo_SMSUSA {
  width: 70vw;
  height: auto;
  float: left;
  margin: 0 auto 0 15px; 
}
.Sportsbook-Marketing-Copy {
  width: 80vw;
  float: left;
}.Dave_icon {
  width: 40PX;
  height: auto;
  margin: 0;
  float: right;
}
.Deposit-Match-U {
  width: 100%;
  height: auto;
  margin: 10vw 0;
}
.Deposit-Match-U p { 
}

footer { 
  margin: 0;
  padding: 10vw 0 0;
  text-align: left;
}

main, html, body {
    width: 100vw;
    overflow-x: hidden;
}
br {
    display: none!important;
}

}