@media (max-width: 1050px) {
.bar-container {
    vertical-align: top;
    width: 100%;
    height: 190px;
}.bar .CTAButton{
  margin:0;
}
.bar p.text-bar{
  padding: 12.5% 5%;
}
.bkg-banner {
  width: 100vw;
  height: auto;
    background-size: cover;
  margin: 0;
  padding: 0 1vw 10vw;
}
.bkg-banner .col-md-6 {
  margin-top: 45px;
}
.guy {
  background-image: none!important;
}
.BetRiver-logo {
  width: auto;
  margin: 5px 414px 24px 0;
}
.HeadlineText {
  width: 70%;
  height: auto;
}
.HeadlineText-sub {
  width: 70%;
  height: auto;
}
.Rectangle {
  width: 80%;
  height: auto;
  margin: 0;
  padding: 42px 30px 30px;
}
.USE-AFFILIATE-CODE {
  width: 80vw;
  height: auto;
  margin: 20px 1px 0 0;
}
.CTAcode {
  width: 100%;
  padding: 0 18px 0 42px;
  border-radius: 30px;
}
.text-cta{
  width: 100%;
  margin: 13px 0;
}
.CTAButton {
  width: 100%;
  height: 60px;
  margin: 9px 1px 0 0;
}
.MenuCTAButtonText {
  text-shadow: 0 10px 40px rgba(255, 181, 0, 0.2);
  margin: auto;
  padding: 20px;
}
.Click-to-copy-code {
  margin: 0;
  margin-left: 48%;
  position: relative;
  top: -7.5px;
}.arrow {
  width: 20px;
  height: 30px;
  /*margin: 0 0 5px 115px;*/
  transform: rotate(-4deg);
  position: relative;
  top: -17.5px;
  /*border: solid 1px #f9b500;*/
}
.Rectangle .Get-100-Match-Depos {
  width: 80%;
    text-align: center;
    height: 60px;
    margin: 0 auto 20px;
}

.Step-1-Click-on-re {
  width: 100%;
  height: auto;
  margin: 16px 15px 48px 1px;
}
.Deposit-Methods {
  width: 100%;
  height: 22px;
  margin: 48px 409px 0 1px;
}

.bkg-Rectangle {
  width: 100vw;
  height: auto;
  padding: 10vw 1vw;
}
.HeadlineText-Copy {
  width: 80%;
  height: auto;
  margin: 0 24px 0 0;
}
.vip {
  width: 72px;
  height: 25px;
  margin: 30px 24px 29px 0;
}.PAYPAL {
  width: 70px;
  height: 20px;
  margin: 32px 0 32px 0;
}.VISA {
  width: 49px;
  height: 15px;
  margin: 35px 10px 19px 10px;
}.PLAY {
  width: 40px;
  height: 20px;
  margin: 32px 10px 17px 10px;
}.PAYNEARME {
  width: 84px;
  height: 24px;
  margin: 19px 0 1px 0;
}
.MASTERCARD {
  width: 36px;
  height: 28px;
  margin: 23px 10px 9px 10px;
}.DISVOVER {
  width: 49px;
  height: 40px;
  margin: 17px 10px 3px 10px;
}
.PRT_MS_261-SMS-USA-Banner-Request {
  width: 100vw;
  height: auto;
  margin: 60px 235px;
}

footer{
  width: 100vw!important;
  height: auto;
}
footer .logo_SMSUSA {
  width: 70vw;
  float: left;
  margin: 0 auto 0 15px; 
}
.Sportsbook-Marketing-Copy {
  width: 80vw;
  float: left;
}.Dave_icon {
  width: 40PX;
  height: auto;
  margin: 0;
  float: right;
}
.Deposit-Match-U {
  width: 100%;
  height: auto;
  margin: 0;
}
.Deposit-Match-U p { 
}

.Retangle-devices {
  width: 100%;
}
.Retangle-devices .row.w-100 { height: auto!important; }

.device_1 {
  background-size: contain;
    background-position: center;
    height: 75vw;
}
.devices {
  width: 100%;
  height: auto;
  margin: 10vw auto;
}
.lines {
  display: none;
}.HeadlineText_devices {
  width: 90%;
  height: auto;
  margin: 5vw 2vw 10vw;
}.HeadlineText_2_devices {
  width: 50%;
  height: auto;
  margin: 0;
}.Rectangle_bnt_devices {
  width: 40vw;
  height: 40px;
  margin: 15vw 2vw;
  padding: 0 18px 0 19px;
}.HeadlineText_bnt_devices {
  width: auto;
  padding: 3px;
  margin: 0;
}

.device_2 {
  width: 99vw;
  height: 75vw;
  margin: 0 0 0 1vw;
  background-size: contain;
  background-position: center;
}.lines_2 {
  display: none;
}.HeadlineText_devices_2 {
  width: 90%;
  height: auto;
  margin: 20vw auto 5vw;
}.HeadlineText_2_devices_2 {
  width: 50%;
  height: auto;
  margin: 10vw auto;
}.Rectangle_bnt_devices_2 {
  width: 40vw;
  height: 40px;
  margin: 20vw 5vw;
  padding: 0 18px 0 19px;
}.HeadlineText_bnt_devices_2 {
  width: 100%;
  padding: 6px 0;
    font-size: 18px;
}

.bkg-orange {
  width: 90vw;
  height: auto;
  margin: 20vw auto;
  padding: 10%;
}
.bkg-orange .Get-100-Match-Depos {
  width: 95%;
    height: auto;
    line-height: normal;
}.USE-AFFILIATE-CODE {
  width: 254px;
  height: 30px;
  margin: 9px 34px 2px 0;
}
.bkg-orange .CTAButton{
  width: 32.5vw;
  margin: 0 auto;
}
.bkg-orange .CTAcode {
  width: 32.5vw;
  padding: 0 5%;
  margin: 0 5vw 0 0;
}
.bkg-orange .text-cta {
  width: 90%;
  padding: 0 5%;
}

.bkg-blue {
  width: 100%;
  height: auto;
  margin: 0;
  padding:5vw;
}.bkg-blue .HeadlineText-Copy {
  width: 80%;
  height: auto;
  font-size: 42px;
  line-height: normal;
  margin-top: 0;
}.icon_-21 {
  width: 46px;
  height: 42px;
  margin: 15px 532px 0 0;
}.Must-be-21-Must-be {
  width: 100%;
  padding: 5vw 0;
  font-size: 20px;
}
footer { 
  margin: 0;
  padding: 10vw 0 0;
  text-align: left;
}

main, html, body {
    width: 100vw;
    overflow-x: hidden;
}
body { overflow-x: hidden; }
br {
    display: none!important;
}

}

@media (max-width: 650px) {
  .bar-container{
  vertical-align: top;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}
.bar-container .col-md-7.sm-none{display: none;}
.bar p.text-bar {
  font-size: 21px;
  font-weight: 500;
  margin: 0 auto;
  padding: 35px 0 0 50px;
}
.bar p.text-code {
  font-size: 12px;
  padding: 5px;
}
.bar .CTAButton {
  margin-top: 0;
  margin: 0 0 0 15px;
  width: 45vw;
  height: 55px;
}
.bar .MenuCTAButtonText {
  font-size: 16px;
}
.bar .wall { width: 40vw; }
.bar .CTAcode {
  margin-top: 0;
  width: 100%;
  padding: 0;
  background-image: none;
}
.bar .text-cta {
  font-size: 18px;
  width: 100%;
}
.bar .Click-to-copy-code, .bar .arrow {
  display: none!important;
}
.bkg-banner {
  width: 100vw;
  height: auto;
    background-size: cover;
  margin: 0;
  padding: 0 1vw 10vw;
}
.bkg-banner .col-md-6 {
  margin-top: 45px;
}
.guy {
  background-image: none!important;
}
.BetRiver-logo {
  width: auto;
  margin: 5px 414px 24px 0;
}
.HeadlineText {
  width: 80vw;
  height: auto;
}
.HeadlineText-sub {
  width: 80vw;
  height: auto;
}
.Rectangle {
  width: 90vw;
  height: auto;
  margin: 0;
  padding: 42px 30px 30px;
}
.USE-AFFILIATE-CODE {
  width: 80vw;
  height: auto;
  margin: 20px 1px 0 0;
}
.CTAcode {
  width: 100%;
  padding: 0 18px 0 42px;
  border-radius: 30px;
}
.text-cta{
  width: 60vw;
  margin: 13px 0;
}
.CTAButton {
  width: 100%;
  height: 60px;
  margin: 9px 1px 0 0;
}
.MenuCTAButtonText {
  text-shadow: 0 10px 40px rgba(255, 181, 0, 0.2);
  margin: auto;
  padding: 20px;
}
.Click-to-copy-code {
  margin: 0;
  margin-left: 42%;
  position: relative;
  top: -7.5px;
}.arrow {
  width: 20px;
  height: 30px;
  /*margin: 0 0 5px 115px;*/
  transform: rotate(-4deg);
  position: relative;
  top: -17.5px;
  /*border: solid 1px #f9b500;*/
}
.Rectangle .Get-100-Match-Depos {
  width: 80vw;
  height: 60px;
  margin: 0 0 20px;
}

.Step-1-Click-on-re {
  width: 100%;
  height: auto;
  margin: 16px 15px 48px 1px;
}
.Deposit-Methods {
  width: 100%;
  height: 22px;
  margin: 48px 409px 0 1px;
}

.bkg-Rectangle {
  width: 100vw;
  height: auto;
  padding: 10vw 1vw;
}
.HeadlineText-Copy {
  width: 90vw;
  height: auto;
  margin: 0 24px 0 0;
}
.vip {
  width: 72px;
  height: 25px;
  margin: 30px 24px 29px 0;
}.PAYPAL {
  width: 70px;
  height: 20px;
  margin: 32px 0 32px 0;
}.VISA {
  width: 49px;
  height: 15px;
  margin: 35px 10px 19px 10px;
}.PLAY {
  width: 40px;
  height: 20px;
  margin: 32px 10px 17px 10px;
}.PAYNEARME {
  width: 84px;
  height: 24px;
  margin: 19px 0 1px 0;
}
.MASTERCARD {
  width: 36px;
  height: 28px;
  margin: 23px 10px 9px 10px;
}.DISVOVER {
  width: 49px;
  height: 40px;
  margin: 17px 10px 3px 10px;
}
.PRT_MS_261-SMS-USA-Banner-Request {
  width: 100vw;
  height: auto;
  margin: 60px 235px;
}

footer{
  width: 100vw!important;
  height: auto;
}
footer .logo_SMSUSA {
  width: 70vw;
  float: left;
  margin: 0 auto 0 15px; 
}
.Sportsbook-Marketing-Copy {
  width: 80vw;
  float: left;
}.Dave_icon {
  width: 40PX;
  height: auto;
  margin: 0;
  float: right;
}
.Deposit-Match-U {
  width: 100%;
  height: auto;
  margin: 10vw 0;
}
.Deposit-Match-U p { 
}

.Retangle-devices {
  width: 100%;
}
.Retangle-devices .row.w-100 { height: auto!important; }

.device_1 {
  background-size: contain;
    background-position: center;
    height: 75vw;
}
.devices {
  width: 100%;
  height: auto;
  margin: 10vw auto;
}
.lines {
  display: none;
}.HeadlineText_devices {
  width: 90%;
  height: auto;
  margin: 5vw 2vw 10vw;
}.HeadlineText_2_devices {
  width: 50%;
  height: auto;
  margin: 0;
}.Rectangle_bnt_devices {
  width: 40vw;
  height: 40px;
  margin: 15vw 2vw;
  padding: 0 18px 0 19px;
}.HeadlineText_bnt_devices {
  width: auto;
  padding: 3px;
  margin: 0;
}

.device_2 {
  width: 99vw;
  height: 75vw;
  margin: 0 0 0 1vw;
  background-size: contain;
  background-position: center;
}.lines_2 {
  display: none;
}.HeadlineText_devices_2 {
  width: 90%;
  height: auto;
  margin: 20vw auto 5vw;
}.HeadlineText_2_devices_2 {
  width: 50%;
  height: auto;
  margin: 10vw auto;
}.Rectangle_bnt_devices_2 {
  width: 40vw;
  height: 40px;
  margin: 20vw 5vw;
  padding: 0 18px 0 19px;
}.HeadlineText_bnt_devices_2 {
  width: 100%;
  padding: 6px 0;
    font-size: 18px;
}

.bkg-orange {
  width: 90vw;
  height: auto;
  margin: 20vw auto;
  padding: 10%;
}
.bkg-orange .Get-100-Match-Depos {
  width: 95%;
    height: auto;
    line-height: normal;
    margin: 10vw auto 0;
}.USE-AFFILIATE-CODE {
  width: 254px;
  height: 30px;
  margin: 9px 34px 2px 0;
}
.bkg-orange .CTAButton{
  width: 70vw;
  margin: 0 auto;
}
.bkg-orange .CTAcode {
  width: 70vw;
  padding: 0 5%;
}
.bkg-orange .text-cta {
  width: 90%;
  padding: 0 5%;
}

.bkg-blue {
  width: 100%;
  height: auto;
  margin: 0;
  padding:1%;
}.bkg-blue .HeadlineText-Copy {
  width: 80vw;
  height: auto;
  font-size: 34px;
    line-height: normal;
    margin-top: 15vw;
}.icon_-21 {
  width: 46px;
  height: 42px;
  margin: 15px 532px 0 0;
}.Must-be-21-Must-be {
  width: 100%;
  padding: 0;
  margin-top: 10vw;
  font-size: 16px;
  line-height: 24vw;
}
footer { 
  margin: 0;
  padding: 10vw 0 0;
  text-align: left;
}

main, html, body {
    width: 100vw;
    overflow-x: hidden;
}
br {
    display: none!important;
}

}